@import url('https://fonts.googleapis.com/css?family=Expletus+Sans:700|Gloria+Hallelujah|Press+Start+2P|Play:400,700|Quicksand|Raleway+Dots|Yantramanav');

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 95%;
}

/*
*  HEADER
*/
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    color: dodgerblue;
    text-shadow: 5px 5px 2px lightgrey;
}

/*
*  Name Input
*/
#name {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 98%;
}

#nameInput {
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.4em;
    color: dimgray;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border: 10px solid dodgerblue;
    box-shadow: 5px 5px 2px lightgrey;
    box-sizing: border-box;
    border-radius: 5px;
}

/*
*  General classes
*/
.green {
    background: mediumseagreen !important;
}

.red {
    background: red !important;
}

.blue {
    background: dodgerblue !important;
}

.orange {
    background: saddlebrown !important;
}

.hidden {
    display: none;
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
}

.inactivate {
    opacity: 0.7;
}


/*
*  INFO CONTAINER
*/
#infoContainer {
    font-family: 'Yantramanav', sans-serif;
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    background: dimgrey;
    color: white;
    box-shadow: 5px 5px 2px lightgrey;
    width: 98%;
    box-sizing: border-box;
    text-align: center;
    transition: all 1s ease-out 0.1s;
    border-radius: 5px;
}

#playerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#player1Icon {
    width: 25px;
    height: 25px;
    background: white;
    content: " ";
    border-radius: 100%;
    margin-right: 10px;
    box-shadow: inset 0 0 1vw dodgerblue;
}

#player2Icon {
    display: flex;
    content: " ";
    background: white;
    width: 25px;
    height: 8px;
    margin-left: 30px;
    margin-right: 10px;
    box-shadow: inset 0 0 1vw dodgerblue;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#player2Icon::after {
  background: white;
  content: " ";
  width: 25px;
  height: 8px;
  box-shadow: inset 0 0 1vw dodgerblue;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

#info {
    margin-top: 10px;
}

#timer {
    color: white;
    transition: all 1s ease-out 0.1s;
}

.timerSeconds {
    color: yellow;
    font-weight: bold;
    transition: all 1s ease-out 0.1s;
}

/*
*  New Game Container
*/
#newGame {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8em;
    padding: 10px;
    margin: 5px;
    background: mediumseagreen;
    box-shadow: 5px 5px 2px lightgrey;
    width: 98%;
    box-sizing: border-box;
    text-align: center;
    transition: all 1s ease-out 0.1s;
    border-radius: 5px;
}

#newGame a {
    color: white;
    text-decoration: none
}

#newGame a::before {
    content: '<<< '
}

#newGame a::after {
    content: ' >>>'
}

/*
*  Stats Container
*/
#statsContainer {
    display: flex;
    flex-flow: column;
    width: 98%;
    background: dodgerblue;
    box-shadow: 5px 5px 2px lightgrey;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
}

#stats {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-left: 0;
    align-items: center;
    font-family: 'Yantramanav', sans-serif;
    font-size: 0.9em;
}

#stats li {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    transition: all 1s ease-out 0.1s;
}

.col1 {
    display: flex;
    justify-content: flex-start;
    width: 100% !important;
    min-width: 150px !important;
    margin: 2px;
    padding-left: 4px;
}

.col2, .col3, .col4 {
    display: flex;
    justify-content: flex-start;
    width: 100% !important;
    min-width: 80px !important;
    margin: 2px;
    padding-left: 2px;
    overflow-x: hidden;
}

.playing::after {
    content: "\f017";
    font-family: FontAwesome;
    position: relative;
    right: -10px;
    top: 2px;
}

.winner {
    background: mediumseagreen;
    border-radius: 5px;
}

.winner::after {
    content: '\f00c';
    font-family: FontAwesome;
    position: relative;
    right: -10px;
    top: 2px;
}

.changeNew {
    background: mediumseagreen !important;
}

.changeUpdate {
    background: orange !important;
}

/*
*  Board
*/
#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
    margin: 5px;
}

.setO.hidden .setX.hidden {
    display: none;
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;

    background: black !important;

    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
}

div.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

div.field {
    width: 50vw;
    height: 32vw;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin: 1px;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    background: dodgerblue;
    color: white;
    transition: all 1s ease-out 0.1s;
    box-shadow: 5px 5px 2px lightgrey;
    box-sizing: border-box;
    border-radius: 5px;
}

.setO {
    display: flex;
    background: white;
    width: 80%;
    height: 80%;
    content: " ";
    border-radius: 100%;
    box-shadow: inset 0 0 10vw dodgerblue;
    transition: all 2s ease-out 0.1s;
}

.setX {
  display: flex;
  content: " ";
  background: white;
  width: 80%;
  height: 20%;
  box-shadow: inset 0 0 3vw dodgerblue;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: all 2s ease-out 0.1s;
}

.setX::after {
  background: white;
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 3vw dodgerblue;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.fieldWon {
    background: mediumseagreen !important;
}

/*
*  Desktop Version
*/
@media only screen and (min-width: 580px) {

    #name, #statsContainer, #infoContainer, #newGame {
        max-width: 480px;
    }

    div.field {
        max-width: 159px;
        max-height: 159px;
    }

}