<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    package="ch.ibw.semesterarbeit2017.multiplayertictactoe.multiplayertictactoe"
    >

    <uses-permission android:name="android.permission.INTERNET" />


    <!-- rka: android:configChanges="orientation|keyboardHidden|screenSize
    ... damit bei wechsel der orientation hoch/quer nicht jedesmal oncreate aufgerufen wird -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon_multiplayer_ttt"
        android:roundIcon="@mipmap/launcher_icon_multiplayer_ttt"
        android:label="TicTacToe"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>